{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ article.title }}</h1>
        <h3>{{ article.author }}</h3>
        {{ article.content }}<br/><br/>

        <span>Commentaires :</span>

          {% for comment in comments %}
            <div class="row">
              <div class="col s12 m6">
                <div class="card darken-1" style="background-color: #3F51B5;">
                  <div class="card-content white-text">
                    <!-- <span class="card-title">Card Title</span> -->
                    {{ comment.content }}
                  </div>
                  <div class="card-action" style="color: #fff;">
                    <span>Par {{ comment.author }}</span>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}

          <span>Postez votre commentaire</span>

          {{ form_start(form) }}
          {{ form_widget(form) }}
          {{ form_end(form) }}

    </div>
{% endblock %}
